<!-- Thank you wikipedia -->
<!-- https://commons.wikimedia.org/wiki/Category:PNG_chess_pieces/Standard_transparent -->

<!-- https://www.flaticon.com/free-icon/strategy_2476094 (unused) -->
<h3>Pawn</h3>
https://www.flaticon.com/free-icon/chess-pawn_107616
<h3>Rook</h3>
https://www.flaticon.com/free-icon/rook_2108010
<!-- https://www.flaticon.com/free-icon/rook_562931 (unused) -->
<h3>Knight</h3>
https://www.flaticon.com/free-icon/crown_1843413
<h3>Bishop</h3>
https://www.flaticon.com/free-icon/bishop_104970
<h3>Queen</h3>
https://www.flaticon.com/free-icon/crown_1843413
<h3>King</h3>
https://www.flaticon.com/free-icon/crown_91207
<!-- https://www.flaticon.com/free-icon/crown_2964 (unused) -->

<h2>Icons made by</h2>

<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
