<div>
  <div class="chess-board">
    <div
      *ngFor="let tile of tiles; index as i"
      [class]="'tile ' + tile.background"
      (dragover)="onDragoverHighlightTile($event, i)"
    >
      <span *ngIf="tile.showText" class="tile-name">{{ tile.location }}</span>
    </div>

    <ng-container *ngFor="let piece of pieces; trackBy: trackById">
      <img
        draggable="true"
        (dragstart)="onPieceDragStart(piece, $event)"
        (dragend)="onPieceDragStop(piece, $event)"
        (dragover)="onPieceDragOver(piece, $event)"
        (mousedown)="onPieceMouseDown(piece, $event)"
        [ngClass]="{
          piece: true,
          selected: dragging && piece == selectedPiece,
          'piece-white': piece.isWhite
        }"
        [src]="piece.image"
        [ngStyle]="{
          transform:
            'translate(' + piece.column * 100 + '%,' + -piece.row * 100 + '%)'
        }"
      />
      <!-- class="piece" -->
    </ng-container>
    <!-- move options -->
    <ng-container *ngIf="selectedPiece != null">
      <!-- (dragEnd)="onPieceDragStop(piece, $event)" -->
      <img
        *ngFor="let droptarget of selectedPiece.options"
        (drop)="onDropPiece($event, droptarget)"
        (mousedown)="onDropPiece($event, droptarget)"
        (dragover)="allowDrop($event, droptarget)"
        class="drop-target"
        src="/assets/images/possibilityDot.svg"
        [ngStyle]="{
          transform:
            'translate(' +
            droptarget.column * 100 +
            '%,' +
            -droptarget.row * 100 +
            '%)'
        }"
      />
    </ng-container>

    <!-- drag highlight -->
    <ng-container *ngIf="selectedPiece != null && dragging">
      <img
        class="tile-highlight"
        src="/assets/images/softBorder.svg"
        [ngStyle]="{
          transform:
            'translate(' +
            dragHighlightSquare.column * 100 +
            '%,' +
            -dragHighlightSquare.row * 100 +
            '%)'
        }"
      />
    </ng-container>
  </div>
</div>

<p-dialog header="Promotion" [(visible)]="promotionDialog.visible">
  <img class="promotionImg" [src]="pieceImage('q')" (click)="promote('Q')"/>
  <img class="promotionImg" [src]="pieceImage('r')" (click)="promote('R')"/>
  <img class="promotionImg" [src]="pieceImage('n')" (click)="promote('N')"/>
  <img class="promotionImg" [src]="pieceImage('b')" (click)="promote('B')"/>
</p-dialog>